<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo EJS</title>
</head>

<body>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eaque asperiores ut enim est, alias dolorum aut distinctio, vel velit quo. Sed quaerat quia nisi autem pariatur magni quibusdam tempore facere repudiandae ipsa nesciunt a quidem odio,
        iste voluptatem? Quas maxime nemo minus est enim molestiae sed fugiat consequuntur fugit placeat! Necessitatibus sint possimus molestias quas expedita ad deleniti tempora? Eligendi excepturi mollitia doloribus iste fuga, deleniti, quod harum sapiente
        fugit neque, odio iusto. Laborum earum temporibus quibusdam inventore sint ex libero eveniet perspiciatis dolore alias sed obcaecati corrupti eos autem labore, recusandae est, voluptatem quas adipisci esse! Fuga, nemo?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eaque asperiores ut enim est, alias dolorum aut distinctio, vel velit quo. Sed quaerat quia nisi autem pariatur magni quibusdam tempore facere repudiandae ipsa nesciunt a quidem odio,
        iste voluptatem? Quas maxime nemo minus est enim molestiae sed fugiat consequuntur fugit placeat! Necessitatibus sint possimus molestias quas expedita ad deleniti tempora? Eligendi excepturi mollitia doloribus iste fuga, deleniti, quod harum sapiente
        fugit neque, odio iusto. Laborum earum temporibus quibusdam inventore sint ex libero eveniet perspiciatis dolore alias sed obcaecati corrupti eos autem labore, recusandae est, voluptatem quas adipisci esse! Fuga, nemo?</p>
</body>

</html>